:root {
    --primary-color: #FB8500;
    --secondary-color: #023047;
    --accent1-color: #FFB703;
    --accent2-color: #219EBC;
}

body {
    font-family: 'lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    color: var(--secondary-color);
    font-size: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

span {
    font-weight: 700;
}

img {
    border-radius: 5px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.logo img {
    margin: 20px;
    width: 120px;
    height: auto;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    flex: 1 1 100%;
}

 .hero {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.hero-img {
    display: block;
    width: 100%;
    height: 100vh; 
}

.hero h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    position: absolute;
    top: 50px;
    color: var(--primary-color);
    background-color: rgba(2, 48, 71, 0.9);
    display: block;
    width: 100%;
    padding: 50px;
    text-align: center;   
}

.trip-hero h1 {
    position: static;
    width: auto;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 60px;
}

.action p {
    font-size: 24px;
}

.btn {
    width: 150px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

article {
    position: absolute;
    top: 500px;
    left: 15%;
    color: black;
    width: 75%;
    height: auto;
    background-color: rgba(33, 158, 188, 0.7);
    padding: 25px;
    font-size: 24px;
}

.happy-client {
    width: 500px;
    float: right;
}

section img {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

#history h2 {
    text-align: center;
}

#history .content {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    gap: 20px; 
    padding: 20px;
    place-items: center;
}

#history .content p {
    font-size: 24px;
    padding: 20px;
    font-weight: 400;
    color: var(--secondary-color);
}

#history .content img {
    width: 100%;
    height: auto;
}

#adventure h2 {
    text-align: center;
}

#adventure .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#adventure figure {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#adventure figure img {
    width: 100%;
    height: auto;
}

#adventure figure figcaption {
    font-family: 'lato', sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
}

.info {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.column2 {
    display: flex;
    flex-direction: column;

}

form {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form p {
    font-size: 24px;
}

fieldset {
    border: none;
}

legend {
    text-align: center;
    font-weight: 700;
    padding: 20px;
    font-size: 1.2rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}

label input[type="radio"] {
    margin-right: 10px;
}

label.radio-label,
label.checkbox-label {
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    width: 300px;
    padding: 8px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: bottom;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
}

div {
    margin-bottom: 10px;
}

button, .button {
    display: block;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 10px;
    border-color: var(--accent1-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
}

button:hover, .button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--accent2-color);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 15px; */
    max-width: 1920px; 
    margin: 0 auto; 
    margin-bottom: 60 px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#trip-cards img {
    width: 600px;
    height: 400px;
}

.offer p {
    font-size: 20px;
}

.trip-table {
    margin: 30px auto;
    text-align: center;
    max-width: 1000px;
}

.trip-table h2 {
    margin-top: 60px;
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: var(--secondary-color);
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    color: #555;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
}

footer .items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer p {
    margin-right: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

footer a img{
    width: 32px;
    height: 32px;
}