.callout {
	max-width: 350px;
    margin: 0 auto;
    border: 1px solid gray;
    padding: 10px;
    background-color: #224477;
    color: white;

}

.callout img {
	float: right;
    margin: 20px;
    border: 2px solid lightgray;
    padding: 2px;
    background-color: lightgray;
    width: 150px;
    height: 150px;
}

blockquote {
	margin: 10px;
}

cite {
	display: block;
    border-top: 1px dotted;
    padding-top: 10px;
    text-align: end;
    font-size: 16px;
}